/* Start Animations */
@keyframes loadFromLeft {
  from {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-120px);
  }

  to {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

@keyframes loadFromBottom {
  from {
    opacity: 0;
    pointer-events: none;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

/* End Animations */
/* Start Container */
.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 650px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 880px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

/* End Container */
/* Start Main Header */
.main-header {
  color: #333;
  font-size: 26px;
  width: fit-content;
  margin-bottom: 30px;
  position: relative;
}

.main-header::after {
  content: "";
  background-color: var(--main-color);
  width: 84%;
  height: 6px;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* End Main Header */
/* Start Input Field */
.input-field {
  padding: 10px;
  border: 2px solid #f6f6f6;
  border-radius: 4px;
  transition: border-color .5s linear;
}

.input-field:hover {
  border-color: rgb(255 80 32 / 40%);
}

.input-field:focus {
  border-color: var(--main-color);
}

/* End Input Field */
/* Start Main Button */
.main-btn {
  background-color: var(--main-color);
  width: fit-content;
  padding: 17px 35px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: color .5s linear;
  z-index: 1;
}

.main-btn:hover {
  color: var(--main-color);
}

.main-btn::before {
  content: "";
  background-color: #fff;
  width: 0;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: width .2s linear;
  z-index: -1;
}

.main-btn:hover::before {
  width: 100%;
}

/* End Main Button */
/* Start Secondary Button */
.secondary-btn {
  padding: 17px 35px;
  border-radius: 10px;
  color: var(--main-color);
  font-size: 15px;
  font-weight: bold;
  transition: box-shadow .4s linear;
}

.secondary-btn:hover {
  box-shadow: 2px 1px 10px 0 #ddd;
}

/* End Secondary Button */